.seller-login {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;

  &__form-section {
    display: grid;
    place-items: center;
  }

  &__form-card {
    width: 80%;
    background-color: white;
    border-radius: 4px;
    padding: 2rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__form-actions {
    display: flex;
  }

  &__register-text {
    display: block;
    padding-top: 2rem;
  }
}
